<div class="center jumbotron">
  <h1><%= app_name %></h1>
  <h2>
    どのくらいの時間にどんな行動をしたかを記録するアプリです。記録した内容は公開されます。
  </h2>
  <h3>
    <p>使って欲しい人</p>
    <p>・日々ダラダラと過ごしている</p>
    <p>・一年があっという間に立っている</p>
    <p>・日々をもっと大切に生きていきたい</p>
    <p>・他の人がどの様に行動しているかが気になる</p>

    <p>主な使い方</p>
    <p>1. 自分の行動を記録して振り返る。</p>
    <p>2. 他の人の行動を参考にする。</p>

    <p>時間は有限です！行動を振り返り自分が何をしているか確認して改善しより良い人生を歩みましょう！</p>
  </h3>
  <%= link_to "ユーザー新規登録", new_user_path, class: "btn btn-lg btn-primary" %>
</div>