<footer class="footer">
  <nav>
    <ul class="ul-left">
      <li>Applicationバージョン：v0.9.1</li>
    </ul>
    <ul class="ul-right">
      <li><%= link_to "利用規約", terms_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
    </ul>
  </nav>
</footer>