<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "時間管理Webアプリ", '/', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップへ戻る",   '/' %></li>
        <li><%= link_to "問い合わせ", contact_path %></li>
        <li><%= link_to "ログイン",   login_path %></li>
      </ul>
    </nav>
  </div>
</header>
